Repository portfolio-performance/portfolio, pull requests merged in 2023-08, with the labels that each got.

#3477 Modify PostFinance AG PDF-Importer to support new transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/postfinance/Kauf05.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/postfinance/PostfinancePDFExtractorTest.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/PostfinancePDFExtractor.java
Labels: pdf

#3479 Modify LGT Bank PDF-Importer to support new transactions
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/lgtbank/Dividende03.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/lgtbank/Dividende04.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/lgtbank/Dividende05.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/lgtbank/LGTBankPDFExtractorTest.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/LGTBankPDFExtractor.java
Labels: pdf

#3484 Modify Quirion PDF-Importer to support new transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/quirinbankag/Dividende04.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/quirinbankag/QuirinPrivatbankAGPDFExtractorTest.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/QuirinBankAGPDFExtractor.java
Labels: pdf

#3496 Modify Raiffeisenbank PDF-Importer to support new transactions
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/raiffeisenbankgruppe/Dividende09.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/raiffeisenbankgruppe/FreierErhalt01.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/raiffeisenbankgruppe/FreierErhalt02.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/raiffeisenbankgruppe/RaiffeisenbankgruppePDFExtractorTest.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/RaiffeisenBankgruppePDFExtractor.java
Labels: pdf

#3494 Allow to select an existing security to replace a newly imported one
  name.abuchen.portfolio.ui/src/name/abuchen/portfolio/ui/Messages.java
  name.abuchen.portfolio.ui/src/name/abuchen/portfolio/ui/dialogs/ListSelectionDialog.java
  name.abuchen.portfolio.ui/src/name/abuchen/portfolio/ui/messages.properties
  name.abuchen.portfolio.ui/src/name/abuchen/portfolio/ui/messages_cs.properties
  name.abuchen.portfolio.ui/src/name/abuchen/portfolio/ui/messages_da.properties
  name.abuchen.portfolio.ui/src/name/abuchen/portfolio/ui/messages_de.properties
  name.abuchen.portfolio.ui/src/name/abuchen/portfolio/ui/messages_es.properties
  name.abuchen.portfolio.ui/src/name/abuchen/portfolio/ui/messages_fr.properties
  name.abuchen.portfolio.ui/src/name/abuchen/portfolio/ui/messages_it.properties
  name.abuchen.portfolio.ui/src/name/abuchen/portfolio/ui/messages_nl.properties
  name.abuchen.portfolio.ui/src/name/abuchen/portfolio/ui/messages_pl.properties
  name.abuchen.portfolio.ui/src/name/abuchen/portfolio/ui/messages_pt.properties
  name.abuchen.portfolio.ui/src/name/abuchen/portfolio/ui/messages_ru.properties
  name.abuchen.portfolio.ui/src/name/abuchen/portfolio/ui/messages_sk.properties
  name.abuchen.portfolio.ui/src/name/abuchen/portfolio/ui/messages_zh.properties
  name.abuchen.portfolio.ui/src/name/abuchen/portfolio/ui/wizards/datatransfer/CSVImportWizard.java
  name.abuchen.portfolio.ui/src/name/abuchen/portfolio/ui/wizards/datatransfer/ExtractedEntry.java
  name.abuchen.portfolio.ui/src/name/abuchen/portfolio/ui/wizards/datatransfer/ImportController.java
  name.abuchen.portfolio.ui/src/name/abuchen/portfolio/ui/wizards/datatransfer/ImportExtractedItemsWizard.java
  name.abuchen.portfolio.ui/src/name/abuchen/portfolio/ui/wizards/datatransfer/ReviewExtractedItemsPage.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/Extractor.java
Labels: enhancement, pdf, csv

#3498 Display WKN in MasterData
  name.abuchen.portfolio.ui/src/name/abuchen/portfolio/ui/views/SecurityDetailsViewer.java
Labels: quick_win

#3499 Modify eBase PDF-Importer to support new transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/ebase/DepotStatment01.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/ebase/DepotStatment02.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/ebase/EbasePDFExtractorTest.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/EbasePDFExtractor.java
Labels: pdf

#3509 Modify Trade Repbulic PDF-Importer to support new transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/traderepublic/Kauf09.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/traderepublic/TradeRepublicPDFExtractorTest.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/TradeRepublicPDFExtractor.java
Labels: pdf

#3508 Fixes CSV-Import interest with taxes
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/csv/CSVAccountTransactionExtractorTest.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/csv/CSVAccountTransactionExtractor.java
Labels: bug, csv

#3507 Modify ING Diba PDF-Importer to support new transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/ingdiba/INGDiBaPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/ingdiba/Kauf18.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/ingdiba/Kauf19.txt
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/INGDiBaPDFExtractor.java
Labels: pdf

#3506 Modify Geno PDF-Importer to support new transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/genobroker/Fusion01.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/genobroker/GenoBrokerPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/genobroker/Kauf02.txt
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/GenoBrokerPDFExtractor.java
Labels: pdf

#3505 Modify OnVista PDF-Importer to support new transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/onvista/Dividende17.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/onvista/DividendeWithReinvest02.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/onvista/Kauf12.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/onvista/Kauf13.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/onvista/OnvistaPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/onvista/Vorabpauschale03.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/onvista/Vorabpauschale04.txt
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/OnvistaPDFExtractor.java
Labels: pdf

#3514 Modify Consorbank PDF-Importer to support new transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/consorsbank/ConsorsbankPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/consorsbank/Dividende18.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/consorsbank/Dividende19.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/consorsbank/Dividende20.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/consorsbank/Kauf24.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/consorsbank/Verkauf13.txt
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/ConsorsbankPDFExtractor.java
Labels: pdf

#3523 Modify JustTrade PDF-Importer to support cryptocurrency transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/justtrade/CryptoKauf01.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/justtrade/CryptoVerkauf01.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/justtrade/JustTradePDFExtractorTest.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/AbstractPDFExtractor.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/JustTradePDFExtractor.java
Labels: pdf

#3524 Modify Trade Republic PDF-Importer to support cryptocurrency transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/traderepublic/CryptoKauf01.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/traderepublic/CryptoKauf02.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/traderepublic/CryptoKauf03.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/traderepublic/TradeRepublicPDFExtractorTest.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/TradeRepublicPDFExtractor.java
Labels: pdf

#3525 Modify Geno PDF-Importer to support new transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/genobroker/GenoBrokerPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/genobroker/Kauf03.txt
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/GenoBrokerPDFExtractor.java
Labels: pdf

#3526 Modify Tiger Brokers to support new transactions
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/tigerbrokerspteltd/AccountStatement05.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/tigerbrokerspteltd/TigerBrokersPteLtdPDFExtractorTest.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/TigerBrokersPteLtdPDFExtractor.java
Labels: pdf

#3527 Add missing error check in tests
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/baaderbank/BaaderBankPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/consorsbank/ConsorsbankPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/dekabank/DekaBankPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/deutschebank/DeutscheBankPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/filfondbank/FILFondbankPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/fintechgroupbank/FinTechGroupBankPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/genobroker/GenoBrokerPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/ingdiba/INGDiBaPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/justtrade/JustTradePDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/lgtbank/LGTBankPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/onvista/OnvistaPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/postfinance/PostfinancePDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/quirinbankag/QuirinPrivatbankAGPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/raiffeisenbankgruppe/RaiffeisenbankgruppePDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/sbroker/SBrokerPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/traderepublic/TradeRepublicPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/vanguardgroupeurope/VanguardGroupEuropePDFExtractorTest.java
Labels: quick_win, pdf
