Repository portfolio-performance/portfolio, pull requests merged in 2024-02, with the labels that each got.

#3782 Modify PostFinance AG PDF-Importer to support new transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/postfinance/Depotgebuehr01.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/postfinance/PostfinancePDFExtractorTest.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/PostfinancePDFExtractor.java
Labels: pdf

#3783 Modify DKB PDF-Importer to support new transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/dab/DABPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/direkt1822bank/Direkt1822BankPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/dkb/DkbPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/dkb/Kauf09.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/dkb/Vorabpauschale02.txt
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/DkbPDFExtractor.java
Labels: pdf

#3785 Modify sBroker PDF-Importer to support new transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/sbroker/SBrokerPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/sbroker/Vorabpauschale02.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/sbroker/Vorabpauschale03.txt
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/SBrokerPDFExtractor.java
Labels: pdf

#3786 Modify Bondora Go & Grow PDF-Importer to support new transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/bondoracapital/BondoraCapitalPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/bondoracapital/Kontoauszug15.txt
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/BondoraCapitalPDFExtractor.java
Labels: pdf

#3787 Modify FlatEx PDF-Importer to support new transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/fintechgroupbank/FinTechGroupBankPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/fintechgroupbank/FlatExDegiroKontoauszug05.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/fintechgroupbank/FlatExDegiroVorabpauschale01.txt
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/FinTechGroupBankPDFExtractor.java
Labels: pdf

#3788 Modify eBase PDF-Importer to support new transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/ebase/DepotStatement04.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/ebase/Dividende01.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/ebase/EbasePDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/ebase/Umsatzabrechnung32.txt
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/EbasePDFExtractor.java
Labels: pdf

#3790 Modify ING DiBa PDF-Importer to support new transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/ingdiba/INGDiBaPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/ingdiba/Verkauf12.txt
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/INGDiBaPDFExtractor.java
Labels: pdf

#3784 New PDF Importer for Bank11
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/bank11/Bank11PDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/bank11/Kontoauszug01.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/bank11/Kontoauszug02.txt
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/Bank11PDFExtractor.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/PDFImportAssistant.java
Labels: pdf

#3781 adding onvista outbound delivery - Freie Lieferung
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/onvista/FreieLieferung01.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/onvista/OnvistaPDFExtractorTest.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/OnvistaPDFExtractor.java
Labels: pdf

#3775 Merkurbank PDF Extractor: add Account Transactions
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/merkurprivatbank/Kontoauszug01.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/merkurprivatbank/Kontoauszug02.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/merkurprivatbank/MerkurPrivatBankPDFExtractorTest.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/MerkurPrivatBankPDFExtractor.java
Labels: pdf

#3772 RenaultBank Importer Fixes
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/renaultbankdirekt/Kontoauszug01.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/renaultbankdirekt/Kontoauszug02.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/renaultbankdirekt/Kontoauszug03.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/renaultbankdirekt/Kontoauszug04.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/renaultbankdirekt/Kontoauszug05.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/renaultbankdirekt/Kontoauszug06.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/renaultbankdirekt/Kontoauszug07.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/renaultbankdirekt/Kontoauszug08.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/renaultbankdirekt/Kontoauszug09.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/renaultbankdirekt/Kontoauszug10.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/renaultbankdirekt/RenaultBankDirektPDFExtractorTest.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/RenaultBankDirektPDFExtractor.java
Labels: pdf

#3799 Modify ComDirect PDF-Importer to support new transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/comdirect/ComdirectPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/comdirect/VerkaufMitSteuerbehandlung14.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/comdirect/VerkaufMitSteuerbehandlung15.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/comdirect/VerkaufMitSteuerbehandlung16.txt
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/ComdirectPDFExtractor.java
Labels: pdf

#3800 Modify ING DIBa PDF-Importer to support new transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/ingdiba/GiroKontoauszug03.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/ingdiba/GiroKontoauszug04.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/ingdiba/INGDiBaPDFExtractorTest.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/INGDiBaPDFExtractor.java
Labels: pdf

#3802 Improve Raiffeisenbank PDF-Importer
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/raiffeisenbankgruppe/RaiffeisenbankgruppePDFExtractorTest.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/RaiffeisenBankgruppePDFExtractor.java
Labels: pdf

#3803 Add test to Comdirect PDF-Importer
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/comdirect/ComdirectPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/comdirect/Dividende31.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/comdirect/VerkaufMitSteuerbehandlung17.txt
Labels: pdf

#3805 Improve AKF Bank PDF-Importer
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/akfbank/AkfBankPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/akfbank/Kontoauszug01.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/akfbank/Kontoauszug02.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/akfbank/Kontoauszug03.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/akfbank/Kontoauszug04.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/akfbank/Kontoauszug05.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/akfbank/Kontoauszug06.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/akfbank/Kontoauszug07.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/akfbank/Kontoauszug08.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/akfbank/Kontoauszug09.txt
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/AkfBankPDFExtractor.java
Labels: pdf

#3812 Update Copyright 2023 to 2024
  name.abuchen.portfolio.feature/feature.xml
  name.abuchen.portfolio.ui/src/name/abuchen/portfolio/ui/messages.properties
  portfolio-product/pom.xml
Labels: quick_win

#3789 Modify Swissquote Bank PDF-Importer to support new transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/swissquote/Kontoauszug01.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/swissquote/SwissquotePDFExtractorTest.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/SwissquotePDFExtractor.java
Labels: question, pdf

#3816 Added range attributes to the PDF parsing
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/PDFParser.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/SwissquotePDFExtractor.java
Labels: enhancement, pdf
