Repository portfolio-performance/portfolio, pull requests merged in 2024-07, with the labels that each got.

#4118 Modify Trade Republic PDF-Importer to support new transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/traderepublic/Repayment01.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/traderepublic/TradeRepublicPDFExtractorTest.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/TradeRepublicPDFExtractor.java
Labels: pdf

#4121 Modify ING DiBa PDF-Importer to support new transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/ingdiba/Compra01.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/ingdiba/Compra02.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/ingdiba/Compra03.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/ingdiba/Dividendos01.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/ingdiba/Dividendos02.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/ingdiba/Dividendos03.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/ingdiba/INGDiBaPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/ingdiba/Venta01.txt
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/INGDiBaPDFExtractor.java
Labels: pdf

#4123 Modify Trade Republic PDF-Importer to support new transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/traderepublic/TradeRepublicPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/traderepublic/Zinsabrechnung04.txt
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/TradeRepublicPDFExtractor.java
Labels: pdf

#4124 Add test case to Trade Republic PDF-Importer
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/traderepublic/InterestInvoice02.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/traderepublic/TradeRepublicPDFExtractorTest.java
Labels: pdf

#4125 Modify Raisin Bank AG PDF-Importer to support new transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/raisinbankag/RaisinBankAGPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/raisinbankag/Verkauf01.txt
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/RaisinBankAGPDFExtractor.java
Labels: pdf

#4127 Modify Baader Bank PDF-Importer to support new transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/baaderbank/BaaderBankPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/baaderbank/Periodenauszug10.txt
Labels: pdf

#4128 Modify Quirin PDF-Importer to support new transaction
  .project
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/quirinbankag/Depotauszug06.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/quirinbankag/Depotauszug07.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/quirinbankag/QuirinPrivatbankAGPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/quirinbankag/Vorabpauschale02.txt
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/QuirinBankAGPDFExtractor.java
Labels: pdf

#4130 Add new Bourso Bank PDF-Importer
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/boursobank/AChat01.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/boursobank/AChat02.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/boursobank/AChat03.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/boursobank/AChat04.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/boursobank/BoursoBankPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/boursobank/Dividende01.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/boursobank/Vente01.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/boursobank/Vente02.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/boursobank/Vente03.txt
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/BoursoBankPDFExtractor.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/PDFImportAssistant.java
Labels: pdf

#4132 Modify Raisin Bank AG PDF-Importer to support new transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/raisinbankag/Dividende02.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/raisinbankag/RaisinBankAGPDFExtractorTest.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/RaisinBankAGPDFExtractor.java
Labels: pdf

#4126 Improves the group width dynamically based on the widest element
  name.abuchen.portfolio.ui/src/name/abuchen/portfolio/ui/views/AttributeSettingsPane.java
Labels: enhancement

#4119 Sortability of the status when checking the extracted elements
  name.abuchen.portfolio.ui/src/name/abuchen/portfolio/ui/wizards/datatransfer/ReviewExtractedItemsPage.java
Labels: quick_win

#4144 Modify DKB PDF-Importer to support new transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/dkb/DkbPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/dkb/TagesgeldKontoauszug01.txt
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/DkbPDFExtractor.java
Labels: pdf

#4145 Add test case to DKB PDF-Importer
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/dkb/DkbPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/dkb/TagesgeldKontoauszug02.txt
Labels: pdf

#4138 Add new account statements to Raiffeisenbank PDF Importer
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/raiffeisenbankgruppe/Kontoauszug08.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/raiffeisenbankgruppe/RaiffeisenbankgruppePDFExtractorTest.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/RaiffeisenBankgruppePDFExtractor.java
Labels: pdf

#4150 Modify Trade Republic PDF-Importer to support new transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/traderepublic/Compra01.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/traderepublic/Dividende24.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/traderepublic/Dividende25.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/traderepublic/Kontoauszug15.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/traderepublic/PlanDeInvestion01.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/traderepublic/TradeRepublicPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/traderepublic/TransaccionesDeCuenta01.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/traderepublic/Venta01.txt
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/TradeRepublicPDFExtractor.java
Labels: pdf

#4151 Modify Consorbank PDF-Importer to support new transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/consorsbank/ConsorsbankPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/consorsbank/Verkauf15.txt
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/ConsorsbankPDFExtractor.java
Labels: pdf

#4152 Modify Trade Republic PDF-Importer to support new transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/traderepublic/Dividend02.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/traderepublic/TradeRepublicPDFExtractorTest.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/TradeRepublicPDFExtractor.java
Labels: pdf

#4154 Add new N26 PDF-Importer
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/n26bankag/Kontoauszug01.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/n26bankag/Kontoauszug02.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/n26bankag/N26BankAGPDFExtractorTest.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/N26BankAGkPDFExtractor.java
Labels: pdf

#4155 Add N26BankAGkPDFExtractor to import assistent
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/PDFImportAssistant.java
Labels: pdf

#4159 Modify Trade Republic PDF-Importer to support new transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/traderepublic/Dividende26.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/traderepublic/TradeRepublicPDFExtractorTest.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/TradeRepublicPDFExtractor.java
Labels: pdf

#4160 Modify Direkt1822 PDF-Importer to support new transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/direkt1822bank/Direkt1822BankPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/direkt1822bank/Dividende04.txt
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/Direkt1822BankPDFExtractor.java
Labels: pdf

#4161 Fix N26 PDF-Importer
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/n26bankag/N26BankAGPDFExtractorTest.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/N26BankAGkPDFExtractor.java
Labels: pdf

#4163 adds import of trade republic Steuerliche Optimierung Document
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/traderepublic/Steueroptimierung01.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/traderepublic/TradeRepublicPDFExtractorTest.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/TradeRepublicPDFExtractor.java
Labels: pdf

#4166 Modify Deutsche Bank PDF-Importer to support new transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/deutschebank/DeutscheBankPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/deutschebank/Kauf07.txt
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/DeutscheBankPDFExtractor.java
Labels: pdf

#4165 Updated Postbank PDF importer
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/postbank/Kauf06.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/postbank/PostbankPDFExtractorTest.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/PostbankPDFExtractor.java
Labels: pdf

#4167 Modify Deutsche Bank PDF-Importer to support new transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/deutschebank/DeutscheBankPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/deutschebank/Kauf08.txt
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/DeutscheBankPDFExtractor.java
Labels: pdf

#4170 Modify KeyTrade PDF-Importer to support new transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/keytradebank/Aankoop01.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/keytradebank/Achat01.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/keytradebank/Achat02.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/keytradebank/Achat03.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/keytradebank/Achat04.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/keytradebank/Dividende06.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/keytradebank/Kauf02.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/keytradebank/Kauf03.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/keytradebank/Kauf04.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/keytradebank/Kauf05.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/keytradebank/KeytradeBankPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/keytradebank/Vente01.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/keytradebank/Vente02.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/keytradebank/Verkauf01.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/keytradebank/Verkauf02.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/keytradebank/Verkauf03.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/keytradebank/Verkoop01.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/keytradebank/Verkoop02.txt
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/KeytradeBankPDFExtractor.java
Labels: pdf

#4172 Add new VZ Depotbank AG PDF-Importer
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/vzvermoegenszentrumag/Dividende01.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/vzvermoegenszentrumag/Dividende02.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/vzvermoegenszentrumag/Kauf01.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/vzvermoegenszentrumag/Kauf02.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/vzvermoegenszentrumag/VZVermoegenszentrumAGPDFExtractorTest.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/PDFImportAssistant.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/VZVermoegenszentrumAGPDFExtractor.java
Labels: pdf
