Repository portfolio-performance/portfolio, pull requests merged in 2024-11, with the labels that each got.

#4324 Add new Audi Bank PDF-Importer
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/audibank/AudiBankPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/audibank/Kontoauszug01.txt
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/AudiBankPDFExtractor.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/PDFImportAssistant.java
Labels: pdf

#4332 Modify Trade Republic PDF-Importer to support new transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/traderepublic/Sparplan11.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/traderepublic/TradeRepublicPDFExtractorTest.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/TradeRepublicPDFExtractor.java
Labels: pdf

#4334 Modify Audi Bank PDF-Importer to support new transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/audibank/AudiBankPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/audibank/Kontoauszug03.txt
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/AudiBankPDFExtractor.java
Labels: pdf

#4337 Modify 1822direct PDF-Importer to support new transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/direkt1822bank/Direkt1822BankPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/direkt1822bank/Kontoauszug01.txt
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/Direkt1822BankPDFExtractor.java
Labels: pdf

#4339 Improve TradeRepublic PDF Importer
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/traderepublic/TradeRepublicPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/traderepublic/Zinsabrechnung07.txt
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/TradeRepublicPDFExtractor.java
Labels: pdf

#4340 Modify Tradegate AG PDF-Importer to support new transaction
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/TradegateAGPDFExtractor.java
Labels: pdf

#4321 sanitize account and portfolio names for bulk CSV export
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/csv/CSVExporter.java
Labels: quick_win

#4323 Make column config dialog in CSV import bigger and resizable
  name.abuchen.portfolio.ui/src/name/abuchen/portfolio/ui/wizards/datatransfer/CSVImportDefinitionPage.java
Labels: ! Good first pull request !

#4350 Modify Easybank PDF-Importer to support new transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/easybankag/Dividende20.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/easybankag/EasyBankAGPDFExtractorTest.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/EasyBankAGPDFExtractor.java
Labels: pdf

#4352 Modify Trade Republic PDF-Importer to support new transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/traderepublic/RapportDInterets01.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/traderepublic/TradeRepublicPDFExtractorTest.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/TradeRepublicPDFExtractor.java
Labels: pdf

#4353 Modify Easybank PDF-Importer to support taxes lost adjustment
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/easybankag/EasyBankAGPDFExtractorTest.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/EasyBankAGPDFExtractor.java
Labels: pdf

#4354 Modify Raiffeisenbank PDF-Importer to support new transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/raiffeisenbankgruppe/Dividende13.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/raiffeisenbankgruppe/Gebuehrenbelastung01.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/raiffeisenbankgruppe/Kauf10.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/raiffeisenbankgruppe/RaiffeisenbankgruppePDFExtractorTest.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/RaiffeisenBankgruppePDFExtractor.java
Labels: pdf

#4355 Fix Umsatzabgabe in PostFinance PDF-Importer
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/postfinance/PostfinancePDFExtractorTest.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/PostfinancePDFExtractor.java
Labels: pdf

#4358 Modify OLB AG PDF-Importer to support new transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/oldenburgischelandesbankag/OldenburgischeLandesbankAGPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/oldenburgischelandesbankag/Verkauf03.txt
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/OldenburgischeLandesbankAGPDFExtractor.java
Labels: pdf

#4360 Modify 1822direkt PDF-Importer to support new transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/direkt1822bank/Direkt1822BankPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/direkt1822bank/Verkauf03.txt
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/Direkt1822BankPDFExtractor.java
Labels: pdf

#4362 Improve 1822direct PDF-Importer
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/direkt1822bank/Direkt1822BankPDFExtractorTest.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/Direkt1822BankPDFExtractor.java
Labels: pdf

#4363 Modify Quirin Privatbank AG PDF-Importer to support new transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/quirinbankag/Depotauszug08.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/quirinbankag/Depotauszug09.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/quirinbankag/Dividende05.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/quirinbankag/Kauf04.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/quirinbankag/Kauf05.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/quirinbankag/QuirinPrivatbankAGPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/quirinbankag/Verkauf05.txt
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/QuirinBankAGPDFExtractor.java
Labels: pdf

#4367 Modify OLB PDF-Importer to support new transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/oldenburgischelandesbankag/Kontoauszug02.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/oldenburgischelandesbankag/Kontoauszug03.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/oldenburgischelandesbankag/OldenburgischeLandesbankAGPDFExtractorTest.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/OldenburgischeLandesbankAGPDFExtractor.java
Labels: pdf

#4368 Add test case to Baader Bank PDF-Importer
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/baaderbank/BaaderBankPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/baaderbank/Periodenauszug12.txt
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/BaaderBankPDFExtractor.java
Labels: pdf

#4326 Open CSV Import Mapped Field Dropdown List by Default
  name.abuchen.portfolio.ui/src/name/abuchen/portfolio/ui/wizards/datatransfer/CSVImportDefinitionPage.java
Labels: enhancement, csv

#4366 Improve some PDF-Importer to standardized tax lost adjustment transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/quirinbankag/QuirinPrivatbankAGPDFExtractorTest.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/DZBankGruppePDFExtractor.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/Direkt1822BankPDFExtractor.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/DkbPDFExtractor.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/ErsteBankPDFExtractor.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/MLPBankingAGPDFExtractor.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/NIBCBankPDFExtractor.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/QuirinBankAGPDFExtractor.java
Labels: pdf

#4357 add comparison with "moving average" purchase price in securities chart
  name.abuchen.portfolio.ui/src/name/abuchen/portfolio/ui/Messages.java
  name.abuchen.portfolio.ui/src/name/abuchen/portfolio/ui/messages.properties
  name.abuchen.portfolio.ui/src/name/abuchen/portfolio/ui/messages_cs.properties
  name.abuchen.portfolio.ui/src/name/abuchen/portfolio/ui/messages_da.properties
  name.abuchen.portfolio.ui/src/name/abuchen/portfolio/ui/messages_de.properties
  name.abuchen.portfolio.ui/src/name/abuchen/portfolio/ui/messages_es.properties
  name.abuchen.portfolio.ui/src/name/abuchen/portfolio/ui/messages_fr.properties
  name.abuchen.portfolio.ui/src/name/abuchen/portfolio/ui/messages_it.properties
  name.abuchen.portfolio.ui/src/name/abuchen/portfolio/ui/messages_nl.properties
  name.abuchen.portfolio.ui/src/name/abuchen/portfolio/ui/messages_pl.properties
  name.abuchen.portfolio.ui/src/name/abuchen/portfolio/ui/messages_pt.properties
  name.abuchen.portfolio.ui/src/name/abuchen/portfolio/ui/messages_pt_BR.properties
  name.abuchen.portfolio.ui/src/name/abuchen/portfolio/ui/messages_ru.properties
  name.abuchen.portfolio.ui/src/name/abuchen/portfolio/ui/messages_sk.properties
  name.abuchen.portfolio.ui/src/name/abuchen/portfolio/ui/messages_zh.properties
  name.abuchen.portfolio.ui/src/name/abuchen/portfolio/ui/messages_zh_TW.properties
  name.abuchen.portfolio.ui/src/name/abuchen/portfolio/ui/views/SecuritiesChart.java
Labels: enhancement

#4373 Modify Deutsche Bank PDF-Importer to support new transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/deutschebank/DeutscheBankPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/deutschebank/GiroKontoauszug07.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/deutschebank/Sparplan01.txt
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/DeutscheBankPDFExtractor.java
Labels: pdf

#4375 Fix FlatEx PDF-Importer with Steuerkorrektur transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/fintechgroupbank/FinTechGroupBankPDFExtractorTest.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/FinTechGroupBankPDFExtractor.java
Labels: pdf
