Repository portfolio-performance/portfolio, pull requests merged in 2025-10, with the labels that each got.

#5024 Fix NPE when switching view of securities if new table is sorted by a column with ParameterizedColumnLabelProvider
  name.abuchen.portfolio.ui/src/name/abuchen/portfolio/ui/util/viewers/ShowHideColumnHelper.java
Labels: ! First pull request !

#5037 Modify Trade Republic PDF-Importer to support new transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/traderepublic/TradeRepublicPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/traderepublic/TransaccionesDeCuenta09.txt
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/TradeRepublicPDFExtractor.java
Labels: pdf

#5034 Create new CLAUDE-IMPORTER.md and CONTRIBUTING.md
  CLAUDE-IMPORTER.md
  CONTRIBUTING.md
Labels: enhancement

#5041 Modify FlatEx PDF-Importer to support new transaction
  CLAUDE-IMPORTER.md
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/fintechgroupbank/FinTechGroupBankPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/fintechgroupbank/FlatExDeGiroSammelabrechnung05.txt
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/FinTechGroupBankPDFExtractor.java
Labels: pdf

#5043 Modify Tradegate AG PDF-Importer to support new transaction
  CLAUDE-IMPORTER.md
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/tradegateag/Dividende03.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/tradegateag/TradegateAGPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/tradegateag/Verkauf03.txt
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/TradegateAGPDFExtractor.java
Labels: pdf

#5051 Modify Scalable Capital PDF-Importer to support new transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/scalablecapital/Rechnungsabschluss02.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/scalablecapital/ScalableCapitalPDFExtractorTest.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/ScalableCapitalPDFExtractor.java
Labels: pdf

#5052 Modify Saxo Bank PDF-Importer to support new transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/saxobank/CashTransfer04.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/saxobank/SaxoBankPDFExtractorTest.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/SaxoBankPDFExtractor.java
Labels: pdf

#5061 Modify MERKUR PRIVATBANK PDF-Importer to support new transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/merkurprivatbank/Dividende04.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/merkurprivatbank/MerkurPrivatBankPDFExtractorTest.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/MerkurPrivatBankPDFExtractor.java
Labels: pdf
