Repository portfolio-performance/portfolio, pull requests merged in 2025-01, with the labels that each got.

#4438 Modify Scalable Capita PDF-Importer to support new transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/scalablecapital/Kauf02.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/scalablecapital/ScalableCapitalPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/scalablecapital/Verkauf01.txt
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/ScalableCapitalPDFExtractor.java
Labels: pdf

#4435 adding SEPA Echtzeitüberweisung to trade republic pdf importer
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/traderepublic/Kontoauszug24.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/traderepublic/TradeRepublicPDFExtractorTest.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/TradeRepublicPDFExtractor.java
Labels: pdf

#4439 Modify Easybank PDF-Importer to support new transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/easybankag/EasyBankAGPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/easybankag/Steuerkorrektur01.txt
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/EasyBankAGPDFExtractor.java
Labels: pdf

#4440 Modify Trade Republic PDF-Importer to support new transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/traderepublic/PianoDinvestimento01.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/traderepublic/TradeRepublicPDFExtractorTest.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/TradeRepublicPDFExtractor.java
Labels: pdf

#4441 Fix Ebase FNZ PDF-Importer
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/ebase/EbasePDFExtractorTest.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/EbasePDFExtractor.java
Labels: pdf

#4442 Modify Saxo PDF-Importer to support new format
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/saxobank/Kauf02.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/saxobank/SaxoBankPDFExtractorTest.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/SaxoBankPDFExtractor.java
Labels: pdf

#4444 Fix NullPointerException for DekaBank PDF-Importer
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/dekabank/DekaBankPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/dekabank/Quartalsbericht26.txt
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/DekaBankPDFExtractor.java
Labels: pdf, ! Good first pull request !

#4448 Rework Solarisbank PDF-Importer
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/solarisbank/SolarisbankAGPDFExtractorTest.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/SolarisbankAGPDFExtractor.java
Labels: pdf

#4429 Update Copyright 2024 to 2025
  name.abuchen.portfolio.feature/feature.xml
  name.abuchen.portfolio.ui/src/name/abuchen/portfolio/ui/messages.properties
  portfolio-product/pom.xml
Labels: quick_win

#4457 Set sorter for value column in Performance Calculation, fixes #4452
  name.abuchen.portfolio.ui/src/name/abuchen/portfolio/ui/views/PerformanceView.java
Labels: quick_win

#4463 Modify FlatEx PDF-Importer to support new transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/fintechgroupbank/FinTechGroupBankPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/fintechgroupbank/FlatExDegiroDividendeStorno01.txt
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/FinTechGroupBankPDFExtractor.java
Labels: pdf

#4470 Modify DKB PDF-Importer to support new transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/dkb/DkbPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/dkb/TagesgeldKontoauszug04.txt
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/DkbPDFExtractor.java
Labels: pdf

#4465 Add new Credit Card statements to DKB PDF Importer
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/dkb/DkbPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/dkb/KreditKontoauszug08.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/dkb/KreditKontoauszug09.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/dkb/KreditKontoauszug10.txt
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/DkbPDFExtractor.java
Labels: pdf

#4450 Feature upgrade apache pdfbox
  name.abuchen.portfolio.bootstrap/Application.e4xmi
  name.abuchen.portfolio.bootstrap/OSGI-INF/l10n/bundle.properties
  name.abuchen.portfolio.bootstrap/OSGI-INF/l10n/bundle_cs.properties
  name.abuchen.portfolio.bootstrap/OSGI-INF/l10n/bundle_da.properties
  name.abuchen.portfolio.bootstrap/OSGI-INF/l10n/bundle_de.properties
  name.abuchen.portfolio.bootstrap/OSGI-INF/l10n/bundle_es.properties
  name.abuchen.portfolio.bootstrap/OSGI-INF/l10n/bundle_fr.properties
  name.abuchen.portfolio.bootstrap/OSGI-INF/l10n/bundle_it.properties
  name.abuchen.portfolio.bootstrap/OSGI-INF/l10n/bundle_nl.properties
  name.abuchen.portfolio.bootstrap/OSGI-INF/l10n/bundle_pl.properties
  name.abuchen.portfolio.bootstrap/OSGI-INF/l10n/bundle_pt.properties
  name.abuchen.portfolio.bootstrap/OSGI-INF/l10n/bundle_pt_BR.properties
  name.abuchen.portfolio.bootstrap/OSGI-INF/l10n/bundle_ru.properties
  name.abuchen.portfolio.bootstrap/OSGI-INF/l10n/bundle_sk.properties
  name.abuchen.portfolio.bootstrap/OSGI-INF/l10n/bundle_zh.properties
  name.abuchen.portfolio.bootstrap/OSGI-INF/l10n/bundle_zh_TW.properties
  name.abuchen.portfolio.feature/feature.xml
  name.abuchen.portfolio.pdfbox1/.checkstyle
  name.abuchen.portfolio.pdfbox1/.classpath
  name.abuchen.portfolio.pdfbox1/.gitignore
  name.abuchen.portfolio.pdfbox1/.project
  name.abuchen.portfolio.pdfbox1/.settings/org.eclipse.core.resources.prefs
  name.abuchen.portfolio.pdfbox1/.settings/org.eclipse.jdt.core.prefs
  name.abuchen.portfolio.pdfbox1/.settings/org.eclipse.jdt.ui.prefs
  name.abuchen.portfolio.pdfbox1/META-INF/MANIFEST.MF
  name.abuchen.portfolio.pdfbox1/build.properties
  name.abuchen.portfolio.pdfbox1/pom.xml
  name.abuchen.portfolio.pdfbox1/src/name/abuchen/portfolio/pdfbox1/PDFBox1Adapter.java
  name.abuchen.portfolio.pdfbox3/.checkstyle
  name.abuchen.portfolio.pdfbox3/.classpath
  name.abuchen.portfolio.pdfbox3/.gitignore
  name.abuchen.portfolio.pdfbox3/.project
  name.abuchen.portfolio.pdfbox3/.settings/org.eclipse.core.resources.prefs
  name.abuchen.portfolio.pdfbox3/.settings/org.eclipse.jdt.core.prefs
  name.abuchen.portfolio.pdfbox3/.settings/org.eclipse.jdt.ui.prefs
  name.abuchen.portfolio.pdfbox3/META-INF/MANIFEST.MF
  name.abuchen.portfolio.pdfbox3/build.properties
  name.abuchen.portfolio.pdfbox3/pom.xml
  name.abuchen.portfolio.pdfbox3/src/name/abuchen/portfolio/pdfbox3/PDFBox3Adapter.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/ibflex/IBFlexStatementExtractorTest.java
  name.abuchen.portfolio.ui/META-INF/MANIFEST.MF
  name.abuchen.portfolio.ui/src/name/abuchen/portfolio/ui/handlers/CreateDiffFromPDFHandler.java
  name.abuchen.portfolio.ui/src/name/abuchen/portfolio/ui/handlers/CreateTextFromPDFHandler.java
  name.abuchen.portfolio/META-INF/MANIFEST.MF
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/PDFImportAssistant.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/PDFInputFile.java
  portfolio-app/pom.xml
  portfolio-target-definition/portfolio-target-definition.target
Labels: pdf

#4477 Add Vorabpauschale and test to MerkurPrivatBankPDFExtractor
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/merkurprivatbank/MerkurPrivatBankPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/merkurprivatbank/Vorabpauschale01.txt
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/MerkurPrivatBankPDFExtractor.java
Labels: pdf

#4482 Modify Easybank PDF-Importer to support new transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/easybankag/EasyBankAGPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/easybankag/Steuerkorrektur02.txt
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/EasyBankAGPDFExtractor.java
Labels: pdf

#4483 Modify BoursoBank PDF-Importer to support new transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/boursobank/AChat05.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/boursobank/BoursoBankPDFExtractorTest.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/BoursoBankPDFExtractor.java
Labels: pdf

#4484 Modify Comdirect PDF-Importer to support new transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/comdirect/ComdirectPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/comdirect/VerkaufMitSteuerbehandlung19.txt
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/ComdirectPDFExtractor.java
Labels: pdf

#4485 Modify Solarisbank AG PDF-Importer to support new transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/solarisbank/Referenzkontoauszug01.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/solarisbank/SolarisbankAGPDFExtractorTest.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/SolarisbankAGPDFExtractor.java
Labels: pdf
