Repository portfolio-performance/portfolio, pull requests merged in 2025-04, with the labels that each got.

#4615 Modify FlatEx PDF-Importer to support new transactions
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/fintechgroupbank/FinTechGroupBankPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/fintechgroupbank/FlatExDegiroKontoauszug07.txt
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/FinTechGroupBankPDFExtractor.java
Labels: pdf

#4619 Modify Arkéa Direct Bank PDF-Importer to support new transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/arkeadirectbank/Achat08.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/arkeadirectbank/Achat09.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/arkeadirectbank/ArkeaDirectBankPDFExtractorTest.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/ArkeaDirectBankPDFExtractor.java
Labels: pdf

#4620 Modify Bourso Bank PDF-Importer to support new transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/boursobank/AChat06.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/boursobank/BoursoBankPDFExtractorTest.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/BoursoBankPDFExtractor.java
Labels: pdf

#4605 Improve Usage of convertType in YahooSymbolSearch for Standardized Security Types
  name.abuchen.portfolio/src/name/abuchen/portfolio/online/SecuritySearchProvider.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/online/impl/LeewaySearchProvider.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/online/impl/TwelveDataSearchProvider.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/online/impl/YahooSymbolSearch.java
Labels: quick_win

#4616 Modify FlatEx PDF-Importer and implement getTickerSymbolForCrypto
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/fintechgroupbank/FinTechGroupBankPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/fintechgroupbank/FlatExDegiroCryptoKauf01.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/fintechgroupbank/FlatExDegiroCryptoVerkauf01.txt
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/ExtractorUtils.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/FinTechGroupBankPDFExtractor.java
Labels: enhancement, pdf

#4623 Modify ArkeaDirectBank PDF-Importer to support new transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/arkeadirectbank/ArkeaDirectBankPDFExtractorTest.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/ArkeaDirectBankPDFExtractor.java
Labels: pdf

#4625 Modify Trade Republic PDF-Importer to support new transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/traderepublic/TradeRepublicPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/traderepublic/TransaccionesDeCuenta05.txt
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/TradeRepublicPDFExtractor.java
Labels: pdf

#4626 Modify Swissquote PDF-Importer to support new transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/swissquote/Buy01.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/swissquote/SwissquotePDFExtractorTest.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/SwissquotePDFExtractor.java
Labels: pdf

#4624 Add BSDEX PDF importer
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/bsdex/BSDEXPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/bsdex/DepositRemoval01.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/bsdex/Kauf01.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/bsdex/Kauf02.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/bsdex/Verkauf01.txt
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/BSDEXPDFExtractor.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/PDFImportAssistant.java
Labels: pdf, ! Good first pull request !

#4628 Minor correction in PDF-Importer
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/BSDEXPDFExtractor.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/SwissquotePDFExtractor.java
Labels: pdf

#4629 Modify DKB PDF-Importer to support new transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/dkb/DkbPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/dkb/GiroKontoauszug31.txt
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/DkbPDFExtractor.java
Labels: pdf

#4631 Modify Estateguru PDF-Importer to support new transactions
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/estateguru/EstateGuruPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/estateguru/Kontoauszug07.txt
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/EstateGuruPDFExtractor.java
Labels: pdf

#4632 Add test case to Baader Bank PDF-Importer
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/baaderbank/BaaderBankPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/baaderbank/Vorabpauschale03.txt
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/BaaderBankPDFExtractor.java
Labels: pdf

#4633 Modify Bison PDF-Importer to support new transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/bison/BisonPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/bison/Vorabpauschale01.txt
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/BisonPDFExtractor.java
Labels: pdf

#4638 Add test case to ING DiBa PDF-Importer
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/ingdiba/INGDiBaPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/ingdiba/Kauf22.txt
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/INGDiBaPDFExtractor.java
Labels: pdf

#4639 Add new E*TRADE Securities LLC PDF-Importer
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/etrade/Buy01.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/etrade/ETradePDFExtractorTest.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/ETradePDFExtractor.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/PDFImportAssistant.java
Labels: pdf

#4643 Modfiy BSDEX PDF-Importer to support new transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/bsdex/BSDEXPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/bsdex/Transaktionshistorie01.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/bsdex/Transaktionshistorie02.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/bsdex/Transaktionshistorie03.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/bsdex/Transaktionshistorie04.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/bsdex/Transaktionshistorie05.txt
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/BSDEXPDFExtractor.java
Labels: pdf

#4644 Modify Saxo Bank PDF-Importer to support new transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/saxobank/Kauf04.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/saxobank/SaxoBankPDFExtractorTest.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/SaxoBankPDFExtractor.java
Labels: pdf

#4645 Regex Update for Improved Ticker Symbol Matching in all PDF-Importers
  CONTRIBUTING.md
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/hargreaveslansdownplc/HargreavesLansdownPlcTest.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/AlpacCapitalPDFExtractor.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/AvivaPLCPDFExtractor.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/BSDEXPDFExtractor.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/BaaderBankPDFExtractor.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/BisonPDFExtractor.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/CommSecPDFExtractor.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/ETradePDFExtractor.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/FidelityInternationalPDFExtractor.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/FirstradeSecuritiesIncPDFExtractor.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/HargreavesLansdownPlcExtractor.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/PostfinancePDFExtractor.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/RevolutLtdPDFExtractor.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/SaxoBankPDFExtractor.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/SelfWealthPDFExtractor.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/StakeshopPtyLtdPDFExtractor.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/SutorBankGmbHPDFExtractor.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/SwissquotePDFExtractor.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/TigerBrokersPteLtdPDFExtractor.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/TradeRepublicPDFExtractor.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/UBSAGBankingAGPDFExtractor.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/WealthsimpleInvestmentsIncPDFExtractor.java
Labels: pdf

#4650 Imrprove Hargreaves Lansdown Asset Management Limited PDF-Importer
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/hargreaveslansdownplc/HargreavesLansdownPlcTest.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/HargreavesLansdownPlcExtractor.java
Labels: pdf

#4656 Modify ComDirect PDF-Importer to support new transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/comdirect/ComdirectPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/comdirect/SteuerbehandlungOhneVerkauf01.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/comdirect/VerkaufMitSteuerbehandlung20.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/comdirect/VerkaufMitSteuerbehandlung21.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/comdirect/VerkaufMitSteuerbehandlung22.txt
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/ComdirectPDFExtractor.java
Labels: pdf

#4659 Rework Commerzbank PDF-Importer
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/commerzbank/CommerzbankPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/commerzbank/Dividende05.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/commerzbank/Dividende06.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/commerzbank/Dividende07.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/commerzbank/Dividende08.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/commerzbank/Dividende09.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/commerzbank/Dividende10.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/commerzbank/Kauf06.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/commerzbank/Kontoauszug01.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/commerzbank/SteuerbehandlungVonDividende05.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/commerzbank/SteuerbehandlungVonDividende07.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/commerzbank/SteuerbehandlungVonDividende08.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/commerzbank/SteuerbehandlungVonDividende09.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/commerzbank/SteuerbehandlungVonDividende10.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/commerzbank/SteuerbehandlungVonKauf06.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/commerzbank/SteuerbehandlungVonVerkauf01.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/commerzbank/SteuerbehandlungVonVerkauf02.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/commerzbank/SteuerbehandlungVonVerkauf06.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/commerzbank/SteuermitteilungOhneDividende01.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/commerzbank/SteuermitteilungOhneVerkauf01.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/commerzbank/Verkauf06.txt
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/CommerzbankPDFExtractor.java
Labels: pdf

#4660 Improve ComDirect PDF-Importer
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/comdirect/ComdirectPDFExtractorTest.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/ComdirectPDFExtractor.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/CommerzbankPDFExtractor.java
Labels: pdf

#4661 Improve TargoBank PDF-Importer
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/targobank/TargobankPDFExtractorTest.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/TargobankPDFExtractor.java
Labels: pdf

#4662 Imrpvoe Arkéa Direct Bank PDF-Importer
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/ArkeaDirectBankPDFExtractor.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/ComdirectPDFExtractor.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/CommerzbankPDFExtractor.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/TargobankPDFExtractor.java
Labels: pdf

#4670 Improve Crowdestor OÜ PDF-Importer
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/crowdestor/CrowdestorPDFExtractorTest.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/CrowdestorPDFExtractor.java
Labels: pdf

#4677 Modify Consorbank PDF-Importer to support new transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/consorsbank/ConsorsbankPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/consorsbank/Dividende26.txt
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/ConsorsbankPDFExtractor.java
Labels: pdf

#4678 Modify Trade Republic PDF-Importer to support new transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/traderepublic/ExAnte01.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/traderepublic/ExAnte02.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/traderepublic/TradeRepublicPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/traderepublic/Ueberweisungsdetails01.txt
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/TradeRepublicPDFExtractor.java
Labels: pdf

#4679 Modify KBC Group NV PDF-Importer to support new transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/kbcgroupnv/Aankoop02.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/kbcgroupnv/Dividende02.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/kbcgroupnv/KBCGroupNVPDFExtractorTest.java
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/KBCGroupNVPDFExtractor.java
Labels: pdf

#4676 Make RawResponsesDialog resizable
  name.abuchen.portfolio.ui/src/name/abuchen/portfolio/ui/wizards/security/RawResponsesDialog.java
Labels: ! First pull request !

#4682 Modify Commerzbank PDF-Importer to support new transaction
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/commerzbank/CommerzbankPDFExtractorTest.java
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/commerzbank/Dividende11.txt
  name.abuchen.portfolio.tests/src/name/abuchen/portfolio/datatransfer/pdf/commerzbank/SteuerbehandlungVonDividende11.txt
  name.abuchen.portfolio/src/name/abuchen/portfolio/datatransfer/pdf/CommerzbankPDFExtractor.java
Labels: pdf
